.SearchBarContainer {
    margin: auto;
    margin: 20px;
    margin-bottom: 20px;
}

.MuiGrid-root div{
    margin: auto;
    display: flex;
    justify-content: center;
}
.MuiButton-containedPrimary	{
    background-color: orange !important;
    align-self: left;
    float: left;
}