.MediaCardContainer{
    max-width: 310px;
    margin: auto;
}
.MediaCardImage{
    width: 100%;
    height: 500px;
    max-width: 310px;
}
.MediaCardTitle{
   
    width: 310px;
  
    overflow-wrap: break-word;
}